services:
  proxy:
    build: 
      context: .
      dockerfile: ./docker/proxy/Dockerfile
    container_name: health_proxy
    ports:
      - "8085:8085"
    restart: unless-stopped

  jenkins:
    build: ./docker/jenkins
    container_name: jenkins_server
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins_data:/var/jenkins_home
    restart: unless-stopped

  gitea:
    image: gitea/gitea:1.25
    container_name: gitea_server
    ports:
      - "3000:3000"
      - "222:22"
    volumes:
      - gitea_data:/data
    restart: unless-stopped

  postgres:
    image: postgres:18.0-alpine
    container_name: postgres_server
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  postgis:
    image: postgis/postgis:16-3.5-alpine
    container_name: postgis_server
    ports:
      - "5433:5432"
    volumes:
      - postgis_data:/var/lib/postgresql/data
    restart: unless-stopped

  n8n:
    image: n8nio/n8n:stable
    container_name: n8n_server
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped
  
  jupyter:
    build: ./docker/jupyter
    container_name: jupyter_server
    ports:
      - "8888:8888"
    volumes:
      - jupyter_data:/home/jovyan/work
      - ./notebooks:/home/jovyan/notebooks
    restart: unless-stopped

  influxdb:
    image: influxdb:2.7.12-alpine
    container_name: influxdb_server
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
    restart: unless-stopped

  grafana:
    image: grafana/grafana:main-ubuntu
    container_name: grafana_server
    ports:
      - "3001:3000"  # Grafana UI (avoid conflict with Gitea on 3000)
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped

volumes:
  jenkins_data:
    external: true 
  gitea_data:
    external: true 
  postgres_data:
    external: true 
  n8n_data:
    external: true 
  jupyter_data:
    external: true 
  postgis_data:
    external: true 
  influxdb_data:
    external: true
  grafana_data:
    external: true