services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins_server
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins_data:/var/jenkins_home
      - /usr/bin/docker:/usr/bin/docker
    env_file:
      - .env

  gitea:
    image: gitea/gitea:1.25
    container_name: gitea_server
    ports:
      - "3000:3000"
      - "222:22"
    volumes:
      - gitea_data:/data
    env_file:
      - .env

  postgres:
    image: postgres:18.0-alpine
    container_name: postgres_server
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    env_file:
      - .env
  n8n:
    image: n8nio/n8n:stable
    container_name: n8n_server
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    env_file:
      - .env
  
  jupyter:
    build: ./docker/jupyter
    container_name: jupyter_server
    ports:
      - "8888:8888"
    volumes:
      - jupyter_data:/home/jovyan/work
      - ./notebooks:/home/jovyan/notebooks
      - ./src:/home/jovyan/src
      - ./data:/home/jovyan/data
      - ./config:/home/jovyan/config
    env_file:
      - .env
    restart: unless-stopped

volumes:
  jenkins_data:
  gitea_data:
  pg_data:
  n8n_data:
  jupyter_data:
